body {
  font-family: 'Orbitron', sans-serif;
  background-color: #292929;
  border: none;
}

.ATC-header {
  background: #222222;
  color: #ADADAD;
  text-shadow: 0 0 .33px #656565, 0 0 .75px #000000, 0 0 1.5px #000000, 0 0 2px #101010;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 5em;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

#ATC-active-list {
  font-size: 5vmax;
  color: whitesmoke;
  padding: 0 9% 0 9%;
}

.ATC-toggle {
  cursor: pointer;
  user-select: none;
  display: inline-block;
} 

.ATC-select {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  font-size: 2vmax;
} 

.ATC-toggle input {display: none;}

@keyframes neon {
  0% {
    text-shadow: 0 0 .05px #fff, 0 0 .15px #fff, 0 0 .35px #fff, 0 0 3px #FF9900, 0 0 4px #FF9900, 0 0 5px #FF9900, 0 0 7px #FF9900;
  }
  100% {
    text-shadow: 0 0 .2px #fff, 0 0 .33px #fff, 0 0 .4px #fff, 0 0 8px #FF9900, 0 0 10px #FF9900, 0 0 12px #FF9900, 0 0 15px #FF9900;
  }
}

.ATC-neon {
  margin-top: 10px;
  text-align: center;
}

.ATC-neon .ATC-btn {
  margin: 0 .5em;
  transition: all 350ms ease-in;
  text-transform: uppercase;
  font-size: 8em;
  color: #7A7A7A;
  text-shadow: 0 0 .5px #656565, 0 0 .9px #000000, 0 0 2px #000000, 0 0 2.75px #101010;
}

.ATC-neon .ATC-btn:hover {
  cursor: pointer;
}

.ATC-neon .ATC-btn:after {
  transition: all 400ms ease;
  content: attr(data-label-on);
}

.ATC-neon .ATC-checkbox {
  display: none;
}

.ATC-neon .ATC-checkbox:checked+.ATC-btn:after {
  animation: neon 1.66s ease-in-out infinite alternate;
  animation-delay: 50ms;
  color: #f1f1f1;
}