body {
  font-family: 'Orbitron', sans-serif;
  background-color: #292929;
  border: none;
}
p{
  user-select: none;
  display: inline-block;
}

.ATC-header {
  background: #222222;
  color: #ADADAD;
  text-shadow: 0 0 .33px #656565, 0 0 .75px #000000, 0 0 1.5px #000000, 0 0 2px #101010;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 5em;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

#ATC-active-list {
  color: whitesmoke;
  padding: 0 9% 0 9%;
}

.ATC-toggle {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  transition: all 350ms ease-in;
  text-shadow: 0 0 .5px #fff, 0 0 .9px #000000, 0 0 2px #000000, 0 0 2.75px #101010;
  animation: neon 1.66s ease-in-out infinite alternate;
  animation-delay: 50ms;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 5vw;
} 

.ATC-select {
  cursor: pointer;
  user-select: none;
  display: inline-block;
} 

@keyframes neon {
  0% {
    text-shadow: 0 0 .05px #fff, 0 0 .15px #fff, 0 0 .35px #fff, 0 0 3px #FF9900, 0 0 4px #FF9900, 0 0 5px #FF9900, 0 0 7px #FF9900;
  }
  100% {
    text-shadow: 0 0 .2px #fff, 0 0 .33px #fff, 0 0 .4px #fff, 0 0 8px #FF9900, 0 0 10px #FF9900, 0 0 12px #FF9900, 0 0 15px #FF9900;
  }
}